<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="com.yash"></context:component-scan>
	
	<bean id="company" class="com.yash.Company" scope="singleton">
	
	</bean>

	<bean id="address" class="com.yash.Address" scope="prototype">
		<property name="city" value="nagpur"></property>
		<property name="country" value="india"></property>
		<property name="pincode" value="440009"></property>
	</bean>

	<!-- <bean id="address2" class="com.yash.Address">
		<property name="city" value="Noida"></property>
		<property name="country" value="india"></property>
		<property name="pincode" value="440008"></property>
	</bean> -->

</beans>
